<div class="catalog">
  <h2>La liste des Produits</h2>
  <div class="product-list">
    @for (product of products; track product.id) {
      <div class="product-card" [class.low-quantity]="product.quantity < 10">
        <img 
          [src]="product.imageUrl" 
          [alt]="product.name"
          (error)="handleImageError($event)"
          class="product-image">
        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <p class="price">{{ product.price | currency:'MAD ' }}</p>
          <button [routerLink]="['/product-details', product.id]">Voir détails</button>
        </div>
      </div>
    }
  </div>
</div>

