<h2 i18n>Créer un compte</h2>

<form (ngSubmit)="onSignup()" #signupForm="ngForm" i18n-attrs>
  <input 
    type="text" 
    name="firstName" 
    [(ngModel)]="firstName" 
    placeholder="Prénom" 
    required 
    i18n-placeholder
  >
  <input 
    type="text" 
    name="lastName" 
    [(ngModel)]="lastName" 
    placeholder="Nom" 
    required 
    i18n-placeholder
  >
  <input 
    type="email" 
    name="email" 
    [(ngModel)]="email" 
    placeholder="Email" 
    required 
    i18n-placeholder
  >
  <input 
    type="password" 
    name="password" 
    [(ngModel)]="password" 
    placeholder="Mot de passe" 
    required 
    i18n-placeholder
  >
  
  <button type="submit" i18n>S'inscrire</button>
</form>

<p *ngIf="errorMessage" style="color: red" i18n>{{ errorMessage }}</p>
<p *ngIf="successMessage" style="color: green" i18n>{{ successMessage }}</p>
